.DS_Store
Thumbs.db
/input-cache
/output
/temp
/template
*.swp
*.swn
*.swo
*.sh
*.bat
_genonce.sh
fsh-generated

# Ignore the JetBrains IDE build config
.idea

# Ignore local node packages resulting
# from a local installation of sushi
node_modules/
package-lock.json
package.json
